body {
	font-family: $font-primary;
	font-size: 1.8rem;
	background: $color-bg;
	color: $color-primary;
}

.sass-test {
  width: 100px;
  height: 100px;
  border: 2px solid darken(red, 1.5);
  background: lignten(red, 0.5);
  @include border-radius(10px);
  margin: 10px 0;
  text-align: center;
}

.bourbon-test {
  width: 200px;
  height: 50px;
  @include linear-gradient(to top, #8fdce5, #3dc3d1, $fallback: red);
  margin: 10px 0;
  text-align: center;
}