body {
	font-family: $font-primary;
	font-size: 1.8rem;
	background: $color-bg;
	color: $color-primary;
}

.sass-test {
  width: 150px;
  height: 30px;
  border: 2px solid darken(red, 10);
  background: lighten(red, 10);
  @include border-radius(10px);
  margin: 10px 0;
  text-align: center;
}

.bourbon-test {
  width: 200px;
  height: 30px;
  @include linear-gradient(to top, #8fdce5, #3dc3d1, $fallback: red);
  margin: 10px 0;
  text-align: center;
}